<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>User Login</h1>
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
        <div class="error">
            <% if (error) { %>
                <%= error %>
            <% } %>
        </div>
    </form>
</body>
</html>
