<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User Info</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Update User Info</h1>
    <form action="/update-info" method="POST">
        <div class="form-group">
            <label for="currentUsername">Current Username:</label>
            <input type="text" id="currentUsername" name="currentUsername">
        </div>
        <div class="form-group">
            <label for="newUsername">New Username:</label>
            <input type="text" id="newUsername" name="newUsername">
        </div>
        <div class="form-group">
            <label for="newEmail">New Email:</label>
            <input type="email" id="newEmail" name="newEmail">
        </div>
        <div class="form-group">
            <button type="submit">Update Info</button>
        </div>
        <div class="error">
            <% if (error) { %>
                <%= error %>
            <% } %>
        </div>
    </form>
</body>
</html>
