<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Success</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h1>Update Success</h1>
    <p><%= message %></p>
    <a href="/update-password">Update Password</a> <!-- Add a link to the update-password page -->
</body>
</html>
